html, body {
  padding: 0;
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  user-select: none;
}

#wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#habit-tracker {
  max-width: 740px;
  position: absolute;
  top: 3em;
  right: 0;
  padding-right: .5em;
  background: #222;
  color: #fffd;
}
th { font-size: 50%; padding: .5em 0; }
.habit { cursor: pointer; font-size: .8em; width: 1.2em; text-align: center; }
.success { background: #060; }
.failure { background: #600; }
.period { cursor: pointer; color: #999; }
.period input {
  width: 5em;
  background: #333;
  color: #fffd;
  text-align: center;
}
#gear { position: absolute; padding: 0; }