html, body {
  padding: 0;
  margin: 0;
}

#app {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  user-select: none;
}

#habit-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#habit-tracker {
  position: absolute;
  top: 3em;
  right: 0;
  padding-right: .5em;
  background: var(--background);
  color: var(--color);
  box-shadow: 1px 1px 8px var(--shadow);
  max-width: calc(100% - 3em);
}
a { color: var(--color); }
#settings div { display: flex; justify-content: space-between; margin-bottom: .5em; padding: 0 1em; }
input[type=text] { background: var(--input); color: var(--color); width: 5em; text-align: center; }
input.s { width: 10em }
input.m { width: 20em }
input.l { width: 40em }
th { font-size: 70%; padding: .5em 0; }
.hidden, .hidden input { width: 1em; text-align: center; }
.habit { min-width: 10em; white-space: nowrap; }
.weekend { background: var(--input); }
.track { cursor: pointer; color: var(--color); }
th.track { white-space: pre-line; }
td.track { font-size: .8em; font-weight: bold; text-align: center; }
.success { background: var(--green); }
.failure { background: var(--red); }
.period, .period input { width: 5em; text-align: center; }
.streak { width: 3em; text-align: center; }
.up { font-weight: bold; transform: rotate(90deg); }
.down { font-weight: bold; transform: rotate(-90deg); }
#toolbar {
  position: absolute;
  left: -2em;
  display: flex;
  flex-direction: column;
}
#toolbar > button { padding: .2em; margin-bottom: 1em; }
.color-group > input[type="color"]::-webkit-color-swatch-wrapper { padding: 0; }
.color-group > input[type="color"] {
  border: none;
  height: 100%;
  width: 3em;
  vertical-align: bottom;
}
.color-group { display: inline-block; margin-left: 1em; }
div#color-groups {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
select.color { background: var(--input); color: inherit; }